/* Global */

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  width: 900px;
  margin: 0 auto;
  font: 16px/1.5 "Ubuntu", sans-serif;
  color: #333333;
  background-color: #303D46;
}

/* Header */

.main-header {
  margin-top: 10px;
  max-width: 1024px;
  min-height: 190px;
  background-color: #fff;;
  border-bottom: 4px solid #303D46;
}

.about {
  display: flex;
  padding: 25px 35px;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 36%;
}

.about__header {
  padding-bottom: 8px;
  font-size: 30px;
  color: #479099;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%; 
  margin: 0 auto;
}

.about__photo {
  width: 140px;
  height: 140px;
  max-width: 150px;
  max-height: 150px;
  border: 4.5px #384458 solid;
  border-radius: 50%;
}

.about__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
  text-align: right;
}

.about__social-list {
  list-style: none;
  line-height: 1.9;
}

/* Main */

.main {
  display: flex;
  max-width: 1024px; 
  margin-bottom: 10px;
  background-color: #fff;
}

.main__box {
  width: 50%;
  padding: 35px;
}

.main__box--left {
  padding-left: 45px;
}

.main__box--right {
  padding-right: 45px;
}

.info {
  padding-bottom: 32px;
}

.info--last {
  padding-bottom: 0;
}

.info__header {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #479099;
}

.info__text {
  margin-bottom: 16px;
}

.info__list {
  list-style: inside circle;
}